body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* Container Flex */
.container {
    display: flex;

    /* Direção dos elementos */
    flex-direction: row;

    /* Alinhamento horizontal */
    justify-content: center;

    /* Alinhamento vertical */
    align-items: center;

    gap: 20px;
    margin-top: 40px;
}

/* Cards */
.card {
    background-color: blue;
    color: white;
    padding: 40px;
    width: 150px;
    border-radius: 10px;
}